html {
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    width: 100%
}

*{
    box-sizing: border-box;
}


/*body > article > p {
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
} */